{% extends 'admin/layout_admin.html' %}

{% block title %}
    <title>afficher les vélos</title>
{% endblock %}

{% block body %}
<h3>Vélo</h3>
<a  class="btn btn-outline-success" href="/admin/article/add">ajouter un vélo</a>
<table class="table text-center">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Taille roues</th>
            <th>Poids</th>
            <th>Prix</th>
            <th>Marque</th>
            <th>Couleur</th>
            <th>Type de vélo</th>
            <th>Stock</th>
            <th>Image</th>
            <th>Opérations</th>
        </tr>
    </thead>
    <tbody>
        {% for ligne in articles %}
            <tr>
                <td>{{ ligne.id_velo }}</td>
                <td>{{ ligne.libelle_velo }}</td>
                <td>{{ ligne.taille_roues_velo }}"</td>
                <td>{{ ligne.poids_velo }} kg</td>
                <td>{{ ligne.prix_velo }}€</td>
                <td>{{ ligne.libelle_marque }} ({{ ligne.id_marque }})</td>
                <td>{{ ligne.libelle_couleur }} ({{ ligne.id_couleur }})</td>
                <td>{{ ligne.libelle_type_velo }} ({{ ligne.id_type_velo }})</td>
                <td>{{ ligne.stock_velo }}</td>
                <td><img src="../../static/images/{{ ligne.image_velo }}" alt=""></td>
                <td><a href="/admin/article/edit/{{ ligne.id_velo }}" class="btn btn-primary">Modifier</a><br><a href="/admin/article/delete?id_velo={{ ligne.id_velo }}" class="btn btn-primary">Supprimer</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<br><br>


{% endblock %}
