{% extends 'admin/layout_admin.html' %}

{% block title %}
    <title>ajouter un type de vélo</title>
{% endblock %}

{% block body %}
    <h2>ajout d'un type de vélo</h2>
    {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}

    <form method="post" action="/admin/type-article/add">
        <fieldset>
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 mb-4">
                        <div class="card">
                            <label for="nom_type_velo">Nom</label>
                            <input type="text" name="nom_type_velo" class="form-control" id="nom_type_velo" placeholder="Nom du type de vélo">
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                    <button type="reset" class="btn btn-secondary">Réinitialiser</button>
                </div>
            </div>
        </fieldset>
    </form>

{% endblock %}
